

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.envelope-wrapper {
    font-size: 16px;
    position: relative;
    max-width: 900px; 
    max-height: 600px; 
    width: 72vw;
    height: 48vh;
    display: inline-flex;
    justify-content: center; /* 讓元素水平置中 */
    align-items: center; /* 讓元素垂直置中 */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #FF6863;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}

.flap {
    border-left: min(36vw, 450px) solid transparent;
    border-right: min(36vw, 450px) solid transparent;
    border-top: min(24vh, 300px) solid #FF6863;
    border-bottom: min(24vh, 300px) solid transparent;
    transform-origin: top;
}

.pocket {
    border-left: min(36vw, 450px) solid #FF8BA0;
    border-right: min(36vw, 450px) solid #FF8BA0;
    border-bottom: min(24vh, 300px) solid #FFA8B5;
    border-top: min(24vh, 300px) solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.letter1 {
    position: absolute;
    background-color: #FFF5EB;
    width: 70vw;
    height: 40vh;
    max-width: 880px; /* 限制最大寬度 */
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.letter1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.letter2 {
    max-width: 880px; /* 限制最大寬度 */
    position: absolute;
    background-color: #FFF5EB;
    display: flex;
    flex-direction: row;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.letter2:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.words {
    padding: 2em;
    font-size: 1em;
    font-family: "Charm", serif;
    font-style: normal;
    color: black;
}



.state-0 .flap {
    transform: rotatex(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
}

.state-1 .flap {
    transform: rotatex(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 0;
}

.state-2 .flap {
    transform: rotatex(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 0;
}


/* letter1 */
.state-0 .letter1 {
    transform: translatey(0deg);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 1;
}

.state-1 .letter1 {
    transform: translatey(-30vh);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
}

.state-2 .letter1 {
    transform: translatey(0deg);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 1;
}

/* letter2 */
.state-0 .letter2 {
    transform: translatey(0deg);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 0;
}

.state-1 .letter2 {
    transform: translatey(0deg);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 0;
}

.state-2 .letter2 {
    transform: translatey(-30vh);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 0;
}

/* heart */
.hearts {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
}

.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.heart:before, .heart:after {
    position: absolute;
    content: "";
    background: #d00000;
    width: 50px;
    height: 80px;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.state-0 .heart {
    opacity: 0;
    animation: none;
}

.heart-btn {
    position: relative;
    top: 0;
    opacity: 1;
    right: 10%;
    z-index: 99;
}

.heart-btn:before, .heart-btn:after {
    position: absolute;
    content: "";
    background: #d00000;
    width: 50px;
    height: 80px;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart-btn:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.a1 {
    left: 20%;
    transform: scale(0.6);
    opacity: 0.6;
    animation: slideUp 4s linear 1, sideSway 2s  ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.a2 {
    left: 30%;
    transform: scale(1);
    opacity: 0.8;
    animation: slideUp 5s linear 1, sideSway 4s  ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.a3 {
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: slideUp 7s linear 1, sideSway 2s  ease-in-out 1 alternate;
    animation-fill-mode: both;
    animation-delay: 0.7s;
}
.a4 {
    left: 50%;
    transform: scale(0.7);
    opacity: 1;
    animation: slideUp 7s linear 1, sideSway 6s  ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}
.a5 {
    left: 60%;
    transform: scale(0.7);
    opacity: 0.8;
    animation: slideUp 7s linear 1, sideSway 5s  ease-in-out 6 alternate;
    animation-fill-mode: both;
    animation-delay: 0.8s;
}

@keyframes slideUp {
    0% {
       top: 0;
    }
    100% {
        top: -600px;
    }
}

@keyframes sideSway {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .envelope-wrapper {
        font-size: 14px;
    }
    /* .flap {
        border-top: 200px solid #FF6863;
        border-left: 300px solid transparent;
        border-right: 300px solid transparent;
        border-bottom: 200px solid transparent;
    }
    .pocket {
        border-left: 300px solid #FF8BA0;
        border-right: 300px solid #FF8BA0;
        border-bottom: 200px solid #FFA8B5;
        border-top: 200px solid transparent;
    } */
}
@media (max-width: 375px) {
    
    /* .flap {
        border-top: 100px solid #FF6863;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 100px solid transparent;
    }
    .pocket {
        border-left: 150px solid #FF8BA0;
        border-right: 150px solid #FF8BA0;
        border-bottom: 100px solid #FFA8B5;
        border-top: 100px solid transparent;
    } */
}

.photo-frame {
    display: inline-block; /* 讓框架適應圖片大小 */
    padding-top: 10px; /* 白邊框的厚度 */
    padding-left: 10px; /* 白邊框的厚度 */
    padding-right: 10px; /* 白邊框的厚度 */
    padding-bottom: 20px; /* 白邊框的厚度 */
    background-color: white; /* 白色邊框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 模擬相片的陰影 */
    margin: 10px; /* 和其他元素的間距 */
}

.photo-frame img {
    display: block; /* 移除圖片預設的間距 */
    width: 100%; /* 讓圖片自適應框架大小 */
    height: auto; /* 保持圖片比例 */
    max-height: 400px;
}

/* heart-btn */
.button{
	width: 50px;
	height: 50px;
  top:50%;
  position: fixed;
	left: 50%;
	margin-top: -45px;
	margin-left: -50px;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
    z-index: 8;

}
.button:hover{
    &:before {
        background: rgb(255, 79, 79) !important;
    }
    &:after {
        background: rgb(255, 79, 79) !important;
    }
}
.active#heart-btn:before,.active#heart-btn:after{
	background: red !important;
}
#heart-btn {
    width: 100px;
    height: 90px;
    transition: background 0.5s ease;
    z-index: 8;
}
#heart-btn:before,
#heart-btn:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart-btn:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}
